/*
	this is a sample css file
	name of the file: sheep.css
	author: medard rieder
*/

body {
    background-image: url("./sheep.png");
    background-repeat: no-repeat;
    background-size: cover
}

h1 { 	
	color: white;
	background-color: lightblue
}


